[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
googletrans = "==4.0.0-rc1"
gtts = "*"

[dev-packages]

[requires]
python_version = "3.10"
